<div class=" col-md-6 col-lg-6">
    <div class="box">
        <img src= {{picture}} class="img-fluid" alt="Picture of food.">
        <button type="button" class="menu_item">&times;</button>
        <h3>{{name}}</h3>
        <p>{{cost}}</p>
    </div>
</div>
