<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>*Restaurant Name*</title>
    </head>
    <!--Framework and Custom Stylesheets-->
    <link rel="stylesheet" href="/framework.css" media="screen">
    <link rel="stylesheet" href="/styles.css" media="screen">
    <!-- Viewport Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <body>
        <!-- nav -->
        <!-- NAVBAR -->
        <nav>
            <div class="container">
                <!-- Site/Page Title -->
                <span><a href="/">*Restaurant Name*</a></span>
                <a href="#" class="nav-btn">&#9776;</a>
                <!-- Navigation Links -->
                 <ul class="nav-links">
                     <li><a href="/">Home</a></li>
                     <li><a href="menu">Menu</a></li>
                     <li><a href="order">Order</a></li>
                     <li><a href="#">Etc...</a></li>
                 </ul>
            </div>
        </nav>
        <!-- banner header -->
        <header>
            <h3>Come on in!</h3>
            <h1>Welcome to *Restaurant Name*</h1>
            <a href="#" class="btn btn-warning">Sign In</a>
        </header>


        {{{body}}}




        <!--footer -->
        <footer>
            <div class="container">
                <div class="col-md-4 col-lg-4">
                    Authors: Tarren Meyers and Dwight Kappl
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="apps">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x" aria-hidden="true"></i>
                        </span>
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x" aria-hidden="true"></i>
                            </span>
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x" aria-hidden="true"></i>
                                </span>
                                </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <a href="#">Privacy Policy</a> - <a href="#">Terms of Use</a>
                </div>
            </div>
        </footer>
        <!-- importing jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="framework-scripts.js"></script>
    </body>
</html>
