
nav .nav-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
}
nav ul{
    display: none;
}
.box{
    background-color: white;
    margin:5px 0;
}
.box p{
    padding:15px;
}
header{
    background-image: url(https://images.pexels.com/photos/1528013/pexels-photo-1528013.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center center;
    /*padding replaces height*/
    padding: 100px 0;
}
header {
    text-align: center;
}
header h1{
    font-size: 20px;
    color:white;
}
header h3{
    color:white;
    font-style: italic;
    font-weight: normal;
}
.btn-warning{
    background-color:#FEC013;
    border: 0px;
    font-family: inherit;
    font-size: 25px;
}
#services{
    text-align: center;
    padding:20px;
    margin-top: 20px;
}
#services .row{
    margin-top: 20px;
}
#services .p-trans{
    color:rgba(0, 0, 0, 0.6);
}
#services i.fa-circle{
    color:#FEC013;
}
#services i.fa-stack-1x{
    color:white;
}

#menu{
    text-align: center;
    padding:30px;
    background-color: rgb(220, 220, 220);
    margin-bottom: 50px;
}
#menu img{
    height: 300px;
    width: 500px;
}
#menu .box{
    width: 500px;

}

.submit {
    margin-bottom: 20px;
}
.submit-btn{
    text-align: center;
}

#order .orderhead{
    text-align: center;
    padding: 10px 0px;
}

#order .box h3{
    float: right;
    display: inline-block;
    padding:0px 5px;
}

#order .box h2{
    float: left;
    display: inline-block;
    padding:0px 5px;

}
#order .box{
    border: solid 1px;
    margin: 5px 0;
    padding-bottom: 30px;
}

/* Login modal */
.hidden {
    display: none;
}
.four0four{
    background-color: #333;
    padding: 50px 0px;
    border-radius: 10px;

}
.four0four h2{
    font-size: 150px;
    color: white;
}
.four0four h3{
    color: white;

}

.create-item {
    color: #FEC013;
    font-size: 100px;
    background: none;
    border: none;
    background-color: white;
    padding: 0;
    margin: 0;
}

.create-item:hover {
    color: #EA9632;
}
/*
 * Modal stuff
 */
 #add-menu-item-button {
  position: fixed;
  right: 50px;
  bottom: 60px;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 30px;
  font-size: 30px;
  background-color: #FEC013;
  color: #fff;
  cursor: pointer;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

#add-menu-item-button:hover,
#add-menu-item-button:focus {
  right: 57px;
  bottom: 67px;
  height: 66px;
  width: 66px;
  border-radius: 33px;
  font-size: 36px;
}

#add-menu-item-button:focus {
  outline: none;
}
#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#add-menu-item-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.action-button {
  font-size: 20px;
  color: white;
  padding: 10px;
  background-color: #000;
  border: 1px solid #ababab;
  border-radius: 5px;
  font-weight: lighter;
  cursor: pointer;
}

.action-button:hover {
  background-color: #00cc66;
  border-color: #333;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
  margin-bottom: 50px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
  display: inline;
  float:left;
}
.modal-hide-button{
    float:right;
    display: inline;
}

#modal-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.item-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: 10px;
}

.item-input-element > label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.item-input-element input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.modal-footer {
  justify-content: flex-end;
  padding: 0px 20px;
  padding-top:40px;
  height:0px;
}

#modal-accept {
  position: relative;
  bottom: 0;
  float:right;

}


#modal-cancel {
  color: #333;
  background-color: #fff;
  position: relative;
  bottom: 0;
  float:left;
}

#modal-cancel:hover {
  background-color: #eee;
}

footer i.fa-circle{
    color:white;
}

footer i.fa-stack-1x{
    color:black;
}

footer .apps{
    font-size: 3px;
}

footer a{
    color: #FEC013;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

@media only screen and (min-width:1000px) {
    nav .nav-btn{
        display: none;
    }
    nav ul{
        display: block;
    }
    header h1{
        font-size: 75px;
    }
}

@media only screen and (min-width:501px) and (max-width:999px) {
    nav .nav-btn{
        display: none;
    }
    nav ul{
        display: block;
    }
    header h1{
        font-size: 40px;
    }
}
