
nav .nav-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
}
nav ul{
    display: none;
}
.box{
    background-color: white;
    margin:5px 0;
}
.box p{
    padding:15px;
}
header{
    background-image: url(https://images.pexels.com/photos/1528013/pexels-photo-1528013.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center center;
    /*padding replaces height*/
    padding: 100px 0;
}
header {
    text-align: center;
}
header h1{
    font-size: 20px;
    color:white;
}
header h3{
    color:white;
    font-style: italic;
    font-weight: normal;
}
.btn-warning{
    background-color:#FEC013;
}
#services{
    text-align: center;
    padding:20px;
    margin-top: 20px;
}
#services .row{
    margin-top: 20px;
}
#services .p-trans{
    color:rgba(0, 0, 0, 0.2);
}
#services i.fa-circle{
    color:#FEC013;
}
#services i.fa-stack-1x{
    color:white;
}

#menu{
    text-align: center;
    padding:30px;
    background-color: rgb(220, 220, 220);
}
#menu img{
    height: 300px;
    width: 500px;
}
#menu .box{
    width: 500px;

}

.submit {
    margin-bottom: 20px;
}
.submit-btn{
    text-align: center;
}

#order .orderhead{
    text-align: center;
    padding: 10px 0px;
}

#order .box h3{
    float: right;
    display: inline-block;
    padding:0px 5px;
}

#order .box h2{
    float: left;
    display: inline-block;
    padding:0px 5px;

}
#order .box{
    border: solid 1px;
    margin: 5px 0;
    padding-bottom: 30px;
}

/* Login modal */
.hidden {
    display: none;
}


footer i.fa-circle{
    color:white;
}

footer i.fa-stack-1x{
    color:black;
}

footer .apps{
    font-size: 3px;
}

footer a{
    color: #FEC013;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

@media only screen and (min-width:1000px) {
    nav .nav-btn{
        display: none;
    }
    nav ul{
        display: block;
    }
    header h1{
        font-size: 75px;
    }
}

@media only screen and (min-width:501px) and (max-width:999px) {
    nav .nav-btn{
        display: none;
    }
    nav ul{
        display: block;
    }
    header h1{
        font-size: 40px;
    }
}
